@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Pacifico&family=Titan+One&displ');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: #019bf5;
    font-size: 100px;
    font-family:"Titan One" ;
    text-shadow: 5px 5px 5px #03baf1;
}

p{
    color: rgb(10, 235, 178);
    font-size: 30px;
    font-family: "Pacifico";
    font-style: italic;
    line-height: 80px;
    letter-spacing: 2px;
    word-spacing: 0px;
    text-align: left;
    text-transform: uppercase;
}

.box{
    width: 100px;
    height: 100px;
    background: #8ac8ec;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    

}

.box2{
    width: 100px;
    height: 100px;
    background: #f70299;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}